@charset "UTF-8";

:root {
  /*É horrível ser daltônico pqp*/
  --cor-fundo: #3366ff;

  --cor-voltar: #FF6B6B;
  --cor-voltar-hover: #C0392B;

  --cor-opcao: #4D96FF;
  --cor-opcao-hover: #594297;

  --cor-salvar: #28A745;
  --cor-salvar-hover: #1E7E34;

  --cor-titulo: #000000;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: url("imagens/undraw.png") no-repeat center center;*/
  background-color: #686279;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 1000px;
  border-radius: 8px;
  padding: 13px 10px 10px 13px;
  display: flex;
  flex-direction: row;
  background-color: #2C2638;
  align-items: center;
  gap: 30px; /* espaçamento entre imagem e conteúdo */
}

.imagem {
  flex: 0 0 500px; /* largura fixa */
}

.imagem img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background-color: #fff;
}

.conteudo {
  flex: 1; /* ocupa todo espaço restante */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.centraliza {
  text-align: center;
}

h1 {
  color: white;
}

.descricao {
  color: #fff;
}

.h2 {
	color: white;
}

input {
  text-align: left;
}

input.caixa1 {
  width: 100%;
  box-sizing: border-box;
}

input.caixa2 {
  width: 100%;
  box-sizing: border-box;
}

.caixa1, .caixa2 {
  display: block;
  border: none;
  padding: 8px 12px;
  margin: 8px 0;
  background-color: #3C364C;
  border-radius: 5px;
  width: 300px;
  font-family: monospace;
  letter-spacing: 2px;
  text-align: center;
}

.caixa1:focus {
  border: 1px solid #594297 !important;
  outline: none;
}

.caixa2:focus {
  border: 1px solid #594297 !important;
  outline: none;
}

/*.form-group {
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 3000px;
}*/

.form-group {
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}


/*.rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 20px;
  /*background-color: var(--cor-fundo);
  border-radius: 8px;
  width: 100%;
}*/

.rodape {
  display: flex;
  justify-content: space-between; /* Alinha um botão no início e outro no fim */
  align-items: center;
  margin: 0;
  padding: 20px;
  width: 400px; /* Igual à largura das caixas */
}

.botao1 {
  display: block;
  margin: 6px 0;
  padding: 10px 0px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 200px;
  transition: background-color 0.3s;
  color: white;
  border: none;
  background-color: #6D54B3;
}

.botao1:hover {
  background-color: var(--cor-opcao-hover);
}

/* Botão de Voltar */
.excluir {
  display: block;
  margin: 6px 0;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 200px;
  transition: background-color 0.3s;
  color: white;
  border: none;
  background-color: var(--cor-voltar);
}

.botao.voltar {
  display: block;
  margin: 6px 0;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  max-width: 200px;
  height: 43px;
  transition: background-color 0.3s;
  color: white;
  border: none;
  background-color: #8C809F;
}

.excluir:hover {
  background-color: var(--cor-voltar-hover);
}

.voltar:hover {
  background-color: #6F6780;
}

/* Remove setas dos inputs numéricos */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}