@charset "UTF-8";

:root {
	/*É horrível ser daltônico pqp*/
  --cor-fundo: #3366ff;

  --cor-voltar: #FF6B6B;
  --cor-voltar-hover: #C0392B;

  --cor-opcao: #4D96FF;
  --cor-opcao-hover: #256DCA;

  --cor-salvar: #28A745;
  --cor-salvar-hover: #1E7E34;

  --cor-titulo: #000000;
}

.form-group{
  max-width: 100%;

  padding: 20px;
  background-color: var(--cor-fundo);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  
  display: flex;
        flex-direction: column;
        max-width: 3000px;
}

.h2{
	margin: 0 auto;
}
    
body {
  margin: 0;
  padding: 0;
  background-color: var(--cor-fundo);
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
}


.container {
  max-width: 100%;
  padding: 120px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.centraliza {
  text-align: center;
}

h1 {
  color: var(--cor-titulo);
}

img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

input {
  text-align: left;
}

input.caixa2 {
  width: 100%;
  box-sizing: border-box;
}

.caixa1 {
  border: 1px solid #333;
  padding: 8px 12px;
  margin: 8px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  font-family: monospace;
  letter-spacing: 2px;
  text-align: center;
}

.caixa2 {
  border: 1px solid #333;
  padding: 8px 12px;
  margin: 8px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 120px;
  font-family: monospace;
  letter-spacing: 2px;
  text-align: center;
}


.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /*background-color: var(--cor-fundo);*/
  border-radius: 8px;
  width: 100%; /* ocupa toda a largura do pai */

}

.botao1 {
  display: block;
  margin: 8px;
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  max-width: 200px;
  width: 100px;
  transition: background-color 0.3s;
  color: white;
  border: none;
  background-color: var(--cor-opcao);
}

.botao1:hover {
  background-color: var(--cor-opcao-hover);
}

/* Botão de Salvar */
.botao.salvar {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 200px;
  transition: background-color 0.3s;
  color: white;
  border: none;
  background-color: var(--cor-salvar);
}

.botao.salvar:hover {
  background-color: var(--cor-salvar-hover);
}

/* Botão de Voltar */
.botao.voltar {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  max-width: 200px;
  transition: background-color 0.3s;
  color: white;
  border: none;
  background-color: var(--cor-voltar);
}

.botao.voltar:hover {
  background-color: var(--cor-voltar-hover);
}

/* Remove setas dos inputs numéricos */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
